.app {
     margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    border-radius: 9px;
  }
  
  body{
    background-color: #892f89;
    margin: 20vh 20vw;
  }

  .gamepin{
    color: rgb(128, 32, 32);
  }


  .quiz-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .quiz-content {
    flex: 1;
    margin-right: 20px; /* Adjust spacing between quiz content and joined names */
  }
  
  .joined-names {
    flex: 1;
    text-align: left;
  }
  
  .joined-names h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .joined-names ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .joined-names li {
    font-size: 16px;
    margin-bottom: 5px;
    background-color: #007bff;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px; /* Adjust spacing between joined names */
  }
  